.page {
  padding: 2rem 0;
  position: relative;
}

.page-center {
  display: block;
  max-width: $max-width;
  margin: 0 auto;
}

.button {
  padding: 0.4rem 0.7rem;
  margin: 0 0.5rem;
  border-radius: $radius;
}

input[type='file'] {
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  cursor: pointer;
}

.is-primary {
  background-color: $clr-primary-1;
  color: $clr-white;
}

.is-light {
  border: 1px solid $clr-border;
  background-color: $clr-white;
}

.is-bordered {
  border: 1px solid $clr-border;
}

.is-radius {
  border-radius: $radius;
}

.width100 {
  width: 100%;
}

.is-flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.red {
  color: #ed4956;
}

.blue {
  color: #0095f6;
}

.green {
  color: #14c714;
}

.grey {
  color: #262626;
}

.light-grey {
  color: #7e7e7e;
}

.underline:hover {
  text-decoration: underline rgba(32, 32, 32, 0.4);
}

.mr-sm,
.margin-right16 {
  margin-right: 1rem;
}

.mr-md,
.margin-right32 {
  margin-right: 2rem;
}

.mr-lg,
.margin-right64 {
  margin-right: 4rem;
}

.mt-sm {
  margin-top: 1rem;
}

.pulse {
  animation: pulse 300ms;
}
