.auth-form {
  padding: 1rem;
  flex-direction: column;
  width: 100vw;
  max-width: 400px;
  margin: 0 auto;
}

.form h2 {
  margin-bottom: 2rem;
}

.form-control {
  width: 80%;
  height: 2rem;
  padding: 0.5rem;
  border-radius: var(--radius);
  color: initial;
  margin: 0.5rem;
}

.form-control:last-of-type {
  margin-bottom: 2rem;
}

.auth-form img {
  width: 100%;
  object-fit: cover;
  margin: 2rem 0 1rem;
}

.textarea {
  height: 100px;
}
