.home-page {
  &__container {
    display: grid;
    justify-content: center;
    justify-items: center;
    column-gap: 1.2rem;
    grid-template-columns: 1fr 320px;
    padding-left: 0.6rem;

    @include respond(tab-port) {
      display: block;
      padding-left: 0;
    }
  }
}
