.profile-page {
  &__header {
    grid-column: center-start / center-end;
    display: grid;
    max-width: 1000px;
    padding: 0 1.8rem 0.7rem;
    margin: 0 auto;
    grid-template-columns: min-content 1fr;
    justify-content: center;
    justify-items: start;
    column-gap: 5rem;
    border-bottom: 1px solid #d6d6d6;

    img {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      border-radius: 50%;
      justify-self: center;
    }

    &--content {
      display: flex;
      justify-content: flex;
      flex-direction: column;
      padding-top: 1rem;

      h1 {
        font-weight: 400;
        font-size: 2rem;
      }

      & > * {
        justify-content: stretch;
        margin-bottom: 1.5rem;
      }
    }

    &--mobile-follow {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.9rem 0;
      border-top: 1px solid #d6d6d6;
      width: 100%;
      display: none;

      & > p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        color: #555;

        span {
          font-size: 1rem;
          color: #262626;
        }
      }
    }

    @include respond(tab-port) {
      display: flex;
      flex-wrap: wrap;
      justify-content: stretch;
      padding: 0;

      img {
        width: 8rem;
        height: 8rem;
        margin-bottom: 1rem;
        margin-left: 1.5rem;
      }

      &--content {
        flex-grow: 1;
        & > * {
          width: 100%;
        }

        &-follow {
          display: none;
        }
      }
      &--mobile-follow {
        display: flex;
      }
    }
  }

  &__btns {
    a {
      text-transform: uppercase;
      font-size: 1rem;
      color: #8e8e8e;
      background-color: transparent;
      padding: 1rem 0;
      transition: $transition;
      letter-spacing: $spacing;
      border-top: 1px solid transparent;
      text-align: center;
    }

    &--active {
      border-top: 1px solid #262626 !important;
      color: #262626 !important;
    }

    svg {
      margin-right: 0.3rem;
    }
  }

  &__content {
    margin-top: 0.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: calc(100% / 45);
    justify-content: center;
    justify-items: center;

    @include respond(tab-port) {
      gap: 2px;
    }
  }
}

@media (max-width: 768px) {
  .profile-page-header {
    grid-template-columns: none;
  }

  .profile-page-header img {
    display: none;
  }
}
