.profile-page {
  &__header {
    width: 100%;
    display: grid;
    grid-template-columns: 19rem 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #d6d6d6;

    img {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      border-radius: 50%;
    }

    &--content {
      padding-top: 1rem;
      justify-self: start;

      h1 {
        font-weight: 400;
        font-size: 2rem;
      }

      & > * {
        justify-content: stretch;
        margin-bottom: 1.5rem;
      }
    }

    &--follow {
      p {
        font-size: 1.1rem;
      }
    }
  }

  &__btns {
    button {
      text-transform: uppercase;
      font-size: 1rem;
      color: #8e8e8e;
      background-color: transparent;
      padding: 1rem 0;
      transition: $transition;
      letter-spacing: $spacing;
      border-top: 1px solid transparent;
    }

    svg {
      margin-right: 0.3rem;
    }
  }
}

.active-btn {
  border-top: 1px solid #262626 !important;
  color: #262626 !important;
}

.grid-profile {
  margin-top: 0.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: calc(100% / 32);
  justify-content: center;
  justify-items: center;
}

.grid-profile img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

@media (max-width: 768px) {
  .profile-page-header {
    grid-template-columns: none;
  }

  .profile-page-header img {
    display: none;
  }
}
