.settings-container {
  border: 1px solid $clr-border-light;
  background-color: $clr-white;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 235px 1fr;
  justify-content: center;
  min-height: 500px;
}

.settings-list {
  border-right: 1px solid $clr-border-light;
}

.settings-list li {
  cursor: pointer;
  width: 100%;
  padding: 1.1rem 2rem;
}

.settings-list-item-active {
  border-left: 2px solid #262626;
  color: #262626;
  font-weight: bold;
}

.settings-content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.settings-form {
  flex-direction: column;
}

.settings-content-header img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  margin-right: 1.7rem;
}

.settings-content-header div {
  justify-self: start;
  align-self: start;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1.7rem;
}

.settings-content-header div h2 {
  font-weight: 400;
  align-self: start;
}

.settings-content-header div button {
  color: $clr-primary-1;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.settings-content-header,
.settings-form-control {
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  justify-items: end;
  align-items: baseline;
  margin: 0.5rem 0;
}

.settings-form-control textarea,
.settings-form-control input {
  border: 1px solid $clr-border-light;
  justify-self: center;
  max-width: 500px;
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  border-radius: $radius;
  color: initial;
  margin: 0.5rem;
}

.settings-form-control textarea {
  height: 70px;
}

.settings-form-control button {
  justify-self: start;
  margin: 1rem 1.5rem;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.settings-form-control div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media (max-width: 1132px) {
  .settings-container {
    grid-template-columns: none;
  }
  .settings-list {
    display: none;
  }
}
