.settings-page {
  &__container {
    border: 1px solid $clr-border-light;
    background-color: $clr-white;
    width: minmax(100vw, 1000px);
    display: grid;
    grid-template-columns: 14rem 1fr;
    justify-content: center;
    min-height: 31rem;

    &--list {
      border-right: 1px solid $clr-border-light;
      display: flex;
      flex-direction: column;
      justify-content: stretch;

      &-link {
        cursor: pointer;
        width: 100%;
        padding: 1.1rem 2rem;

        &-active {
          border-left: 2px solid #262626;
          color: #262626;
          font-weight: bold;
        }
      }
    }

    &--content {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      padding: 1.5rem 0;
    }
  }

  @include respond(phone) {
    &__container {
      display: block;
      margin: 0 auto;

      &--list {
        display: none;
      }
    }
  }
}

.settings-content-header img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  margin-right: 1.7rem;
}

.settings-content-header div {
  justify-self: start;
  align-self: start;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1.7rem;
}

.settings-content-header div h2 {
  font-weight: 400;
  align-self: start;
}

.settings-content-header div button {
  color: $clr-primary-1;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.settings-content-header,
.settings-form-control {
  width: 100%;
  display: grid;
  grid-template-columns: 7rem 1fr;
  justify-content: center;
  justify-items: end;
  align-items: baseline;
  margin: 0.5rem 0;
}
