$clr-primary-1: #6bbcff;
$clr-primary-2: #4a43b3;

$clr-white: #fff;
$clr-grey: #28313a;
$clr-grey-1: #888;
$clr-red: #e63b49;
$clr-black: #262626;

$clr-border: #cecece;
$clr-border-light: #dbdbdb;
$clr-bg: #fafafa;
$clr-hover: #f7f7f7;

$clr-skeleton: #dbdbdb;

$spacing: 1px;
$radius: 4px;
$max-width: 1180px;
$transition: all 0.3s linear;
