$clr-primary-1: #6bbcff;
$clr-primary-2: #4a43b3;

$clr-white: #fff;
$clr-grey: #28313a;
$clr-red: #a84141;

$clr-border: #cecece;
$clr-border-light: #dbdbdb;
$clr-bg: #fafafa;

$spacing: 1px;
$radius: 4px;
$max-width: 1180px;
$transition: all 0.3s linear;
