@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Variables */

:root {
  --clr-primary-1: #6bbcff;
  --clr-primary-2: #4a43b3;
  --clr-white: #fff;
  --clr-grey: #28313a;
  --clr-red: #a84141;
  --clr-border: #cecece;
  --clr-border-light: #dbdbdb;
  --clr-bg: #fafafa;
  --spacing: 1px;
  --radius: 4px;
  --max-width: 1180px;
  --transition: all 0.3s linear;
}

/* Global Styles */

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--clr-grey);
  background-color: var(--clr-bg);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: initial;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: #fff;
}

textarea,
input {
  outline: none;
}

/* Global Classes */
.page-container {
  padding: 3.5rem;
}

.page {
  padding: 3rem;
  position: relative;
}

.page-center {
  margin: 0 auto;
  max-width: var(--max-width);
}

.button {
  padding: 0.4rem 0.8rem;
  margin: 0 0.5rem;
  border-radius: var(--radius);
  height: 2.2rem;
}

.is-primary {
  background-color: var(--clr-primary-1);
  color: var(--clr-white);
}

.is-light {
  border: 1px solid var(--clr-border);
  background-color: var(--clr-white);
}

.is-bordered {
  border: 1px solid var(--clr-border);
}

.is-radius {
  border-radius: var(--radius);
}

.width100 {
  width: 100%;
}
.is-flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bold {
  font-weight: bold;
}
.margin-right16 {
  margin-right: 1rem;
}
.margin-right32 {
  margin-right: 2rem;
}
.margin-right64 {
  margin-right: 4rem;
}
.underline:hover {
  text-decoration: underline rgb(38, 38, 38);
}
.blue {
  color: var(--clr-primary-1);
}
.red {
  color: var(--clr-red);
}

/* Navbar */
nav {
  position: fixed;
  height: 3.5rem;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  z-index: 5;
  background-color: var(--clr-white);
}

.nav-center {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  width: 100px;
  margin-right: 1rem;
}

/* Home */
.home-grid {
  display: grid;
  justify-content: center;
  justify-items: center;
  column-gap: 1.5rem;
  grid-template-columns: 300px 1fr;
}

.posts-container {
  flex-direction: column;
}

/* Search */

.search-bar {
  position: relative;
}

.search {
  width: 200px;
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: var(--radius);
  color: initial;
  display: block;
}

.search::placeholder {
  color: var(--clr-border);
}

.search-no-results {
  text-align: center;
  color: #888888;
  padding: 2rem 0;
}

.search-bar-dropdown {
  position: absolute;
  top: 2.75rem;
  right: -30px;
  z-index: 900;
  border-radius: var(--radius);
  background-color: var(--clr-white);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px 0 4px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  width: 280px;
}

.search-bar-dropdown-item {
  width: 280px;
  display: block;
  color: #000;
  text-align: left;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  font-size: 14px;
  background-color: var(--clr-white);
  transition: var(--transition);
}

.search-bar-dropdown-item:hover {
  background-color: #f0f0f0;
}

.search-bar-dropdown-item img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.search-bar-dropdown-item a {
  display: flex;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 600px) {
  .search-bar {
    display: none;
  }
}

/* Dropdown */

.dropdown {
  position: relative;
}

.dropdown img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown-toggle {
  height: 2.2rem;
  width: 2.2rem;
  background-color: var(--clr-white);
}

.dropdown-content {
  position: absolute;
  top: 2.9rem;
  right: 0;
  z-index: 900;
  border-radius: var(--radius);
  background-color: var(--clr-white);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px 0 4px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  width: 230px;
  color: #000;
  text-align: left;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.dropdown-item svg {
  margin-right: 0.4rem;
}

/* Form */

.form {
  padding: 1rem;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.form h2 {
  margin-bottom: 2rem;
}

.form-control {
  width: 80%;
  height: 2rem;
  padding: 0.5rem;
  border-radius: var(--radius);
  color: initial;
  margin: 0.5rem;
}

.form-control:last-of-type {
  margin-bottom: 2rem;
}

.form img {
  width: 100%;
  object-fit: cover;
  margin: 2rem 0 1rem;
}

.textarea {
  height: 100px;
}

/* File upload */
.upload-file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
  width: 80%;
}

.upload-file input {
  visibility: hidden;
}

.upload-file span {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 1.5px solid rgb(207, 207, 207);
  border-radius: 0.25rem;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
}

.upload-file span::before {
  position: absolute;
  top: -0.075rem;
  right: -0.075rem;
  bottom: -0.075rem;
  z-index: 6;
  display: block;
  content: 'Browse';
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #d4d4d4;
  border: 0.075rem solid #ddd;
  border-radius: 0 0.25rem 0.25rem 0;
}

/* React tags */

div.ReactTags__tags {
  position: relative;
  align-self: flex-start;
  margin: 1rem 10% 0.5rem;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 90px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 0 4px;
}
/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Home page grid */

.home-grid {
  display: grid;
  grid-template-columns: 1fr 250px;
  column-gap: 0.5rem;
}

/* Single Post */
.single-post {
  width: 740px;
  max-width: 90vw;
  margin: 2rem 0;
  background-color: var(--clr-white);
  height: auto;
  position: relative;
}

.single-post > * {
  padding: 0.3rem 2rem;
}

.single-post > img {
  width: 100%;
  height: auto;
  padding: 0.1rem;
}

.single-post:first-child {
  margin: 0 0 2rem;
}

.single-post-btns,
.single-post-header {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-post-header {
  border-bottom: 1px solid #eee;
}

.single-post-header img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 50%;
}

.single-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.single-post-created-at {
  padding: 0.1rem 2rem;
  text-transform: uppercase;
  font-size: 12px;
  color: #9b9b9b;
}

.tag {
  color: rgb(4, 104, 255);
  cursor: pointer;
  margin-right: 5px;
}

.single-post-add-comment {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 0.5rem;
  column-gap: 0.5rem;
}

.single-post-add-comment input {
  border: none;
  font-family: inherit;
  font-size: 16px;
}

.single-post-add-comment button {
  color: rgb(4, 104, 255);
}

.single-post-add-comment button:disabled {
  opacity: 0.5;
  cursor: initial;
}

.single-post-comments {
  overflow-y: auto;
  max-height: 110px;
}

/* Home Sidebar */

.home-sidebar {
  justify-self: start;
  background-color: var(--clr-bg);
}

.home-sidebar-header img {
  border-radius: 50%;
  object-fit: cover;
  width: 67px;
  height: 67px;
}

.home-sidebar-header p {
  color: #888888;
}

.home-sidebar-suggestions h4 {
  margin-top: 1.2rem;
  color: #b9b9b9;
}

.suggestion {
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin: 0.5rem 0;
}

.suggestion img {
  border-radius: 50%;
  object-fit: cover;
  width: 35px;
  height: 35px;
}

.suggestion a {
  font-size: 14px;
}

.suggestion p {
  color: #888888;
  font-size: 12px;
}

.home-sidebar-footer {
  color: var(--clr-border);
  text-transform: uppercase;
  margin-top: 1.2rem;
  font-size: 12px;
}

.home-sidebar-footer a {
  color: var(--clr-border);
  transition: var(--transition);
}
.home-sidebar-footer a:hover {
  color: #888888;
}

@media (max-width: 1064px) {
  .home-sidebar {
    display: none;
  }
  .home-grid {
    display: block;
  }
}

/* Profile page */
.profile-page-header {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  justify-content: center;
  justify-items: center;
  column-gap: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #d6d6d6;
}

.profile-page-header img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-page-header-content {
  padding-top: 1rem;
  justify-self: start;
}

.profile-page-header-content > * {
  justify-content: stretch;
  margin-bottom: 1.5rem;
}

.profile-page-header-heading h1 {
  font-weight: 400;
  font-size: 2rem;
}

.profile-page-header-follow p {
  font-size: 18px;
}

.profile-page-btns button {
  text-transform: uppercase;
  font-size: 14px;
  color: #8e8e8e;
  background-color: transparent;
  padding: 1rem 0;
  transition: var(--transition);
  letter-spacing: (--spacing);
  border-top: 1px solid transparent;
}

.profile-page-btns button svg {
  margin-right: 5px;
}

.active-btn {
  border-top: 1px solid #262626 !important;
  color: #262626 !important;
}

.grid-profile {
  margin-top: 0.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: calc(100% / 32);
  justify-content: center;
  justify-items: center;
}

.grid-profile img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

/* Setting page */

.settings-container {
  border: 1px solid var(--clr-border-light);
  background-color: var(--clr-white);
  max-width: 1100px;
  display: grid;
  grid-template-columns: 235px 1fr;
  justify-content: center;
  min-height: 500px;
}

.settings-list {
  border-right: 1px solid var(--clr-border-light);
}

.settings-list li {
  cursor: pointer;
  width: 100%;
  padding: 1.1rem 2rem;
}

.settings-list-item-active {
  border-left: 2px solid #262626;
  color: #262626;
  font-weight: bold;
}

.settings-content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.settings-form {
  flex-direction: column;
}

.settings-content-header img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  margin-right: 1.7rem;
}

.settings-content-header div {
  justify-self: start;
  align-self: start;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1.7rem;
}

.settings-content-header div h2 {
  font-weight: 400;
  align-self: start;
}

.settings-content-header div button {
  color: var(--clr-primary-1);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.settings-content-header,
.settings-form-control {
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  justify-items: end;
  align-items: baseline;
  margin: 0.5rem 0;
}

.settings-form-control textarea,
.settings-form-control input {
  border: 1px solid var(--clr-border-light);
  justify-self: center;
  max-width: 500px;
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  border-radius: var(--radius);
  color: initial;
  margin: 0.5rem;
}

.settings-form-control textarea {
  height: 70px;
}

.settings-form-control button {
  justify-self: start;
  margin: 1rem 1.5rem;
  width: 100px;
}

/* Modal */

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 420px;
  transition: var(--transition);
  z-index: 100;
  background-color: var(--clr-white);
  flex-direction: column;
}

.modal h2 {
  padding: 1.5rem 1rem 2rem;
}

.modal input[type='file'] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.modal button,
.modal label {
  cursor: pointer;
}

.modal ul {
  width: 100%;
  text-align: center;
}

.modal ul li {
  width: 100%;
  padding: 0.7rem;
}

.modal ul li:not(:last-child) {
  border-bottom: 1px solid var(--clr-border-light);
}

.user-modal-item {
  display: flex;
  align-items: center;
  transition: var(--transition);
  cursor: pointer;
}

.user-modal-item:hover {
  background-color: #f7f7f7;
}

.user-modal-item img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
}

.user-modal-item p {
  font-size: 12px;
  text-align: left;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

/* Loader */
.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 6rem;
  height: 6rem;
  border: 3px solid #eee;
  border-radius: 50%;
  border-top-color: var(--clr-primary-2);
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* Error page */
.error-page {
  text-align: center;
}
.error-page h1 {
  margin-bottom: 0.7rem;
}

.error-page a {
  color: var(--clr-primary-1);
  font-weight: bold;
}

/* Message */
.message {
  min-width: 100px;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  border: 1px solid transparent;
}

.success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
