*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Variables */

:root {
  --clr-primary-1: #3a8bee;
  --clr-primary-2: #4a43b3;
  --clr-white: #fff;
  --clr-grey: #28313a;
  --clr-border: #bebebe;
  --spacing: 0.1rem;
  --radius: 0.2rem;
  --max-width: 1180px;
}

/* Global Styles */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--clr-grey);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: initial;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
}

textarea,
input {
  outline: none;
}

/* Global Classes */
.page-container {
  padding: 3.5rem;
}

.page {
  padding: 3rem;
}

.page-center {
  margin: 0 auto;
  max-width: var(--max-width);
}

.button {
  padding: 0.4rem 0.8rem;
  margin: 0 0.5rem;
  border-radius: var(--radius);
  height: 2.2rem;
}

.is-primary {
  background-color: var(--clr-primary-1);
  color: var(--clr-white);
}

.is-light {
  border: 1px solid var(--clr-border);
  background-color: var(--clr-white);
}

.is-bordered {
  border: 1px solid var(--clr-border);
}

.is-radius {
  border-radius: var(--radius);
}

.width100 {
  width: 100%;
}
.is-flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bold {
  font-weight: bold;
}
.margin-right16 {
  margin-right: 1rem;
}
.underline:hover {
  text-decoration: underline;
}

/* Navbar */
nav {
  position: fixed;
  height: 3.5rem;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  z-index: 900;
  background-color: var(--clr-white);
}

.nav-center {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  width: 100px;
  margin-right: 1rem;
}

/* Home */
.home-grid {
  display: grid;
  justify-content: center;
  justify-items: center;
  column-gap: 1.5rem;
  grid-template-columns: 300px 1fr;
}

.posts-container {
  flex-direction: column;
}

/* Search */

.search {
  width: 200px;
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: var(--radius);
  color: initial;
}

.search::placeholder {
  color: var(--clr-border);
}

@media (max-width: 600px) {
  .search {
    display: none;
  }
}

/* Dropdown */

.dropdown {
  position: relative;
}

.dropdown-toggle {
  height: 2.2rem;
  width: 2.2rem;
  background-color: var(--clr-white);
}

.dropdown-content {
  position: absolute;
  top: 2.9rem;
  right: 0;

  z-index: 30;
  border-radius: var(--radius);
}

.dropdown-item {
  width: 180px;
  text-align: left;
  padding: 0.5rem;
  cursor: pointer;
}

/* Form */

.form {
  padding: 1rem;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.form h2 {
  margin-bottom: 2rem;
}

.form-control {
  width: 80%;
  height: 2rem;
  padding: 0.5rem;
  border-radius: var(--radius);
  color: initial;
  margin: 0.5rem;
}

.form-control:last-of-type {
  margin-bottom: 2rem;
}

.form img {
  width: 100%;
  object-fit: cover;
  margin: 2rem 0 1rem;
}

.textarea {
  height: 100px;
}

/* File upload */
.upload-file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
  width: 80%;
}

.upload-file input {
  visibility: hidden;
}

.upload-file span {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 1.5px solid rgb(207, 207, 207);
  border-radius: 0.25rem;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
}

.upload-file span::before {
  position: absolute;
  top: -0.075rem;
  right: -0.075rem;
  bottom: -0.075rem;
  z-index: 6;
  display: block;
  content: 'Browse';
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #d4d4d4;
  border: 0.075rem solid #ddd;
  border-radius: 0 0.25rem 0.25rem 0;
}

/* React tags */

div.ReactTags__tags {
  position: relative;
  align-self: flex-start;
  margin: 1rem 10% 0.5rem;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 90px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 0 4px;
}
/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Home page grid */

.home-grid {
  display: grid;
  grid-template-columns: 1fr 250px;
  column-gap: 0.5rem;
}

/* Single Post */
.single-post {
  width: 740px;
  margin: 2rem 0;
}

.single-post > * {
  padding: 0.3rem 2rem;
}

.single-post > img {
  padding: 0;
}

.single-post:first-child {
  margin: 0 0 2rem;
}

.single-post-btns,
.single-post-header {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-post-header img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 50%;
}

.single-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.single-post-created-at {
  padding: 0.1rem 2rem;
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(155, 155, 155);
}

.tag {
  color: rgb(4, 104, 255);
  cursor: pointer;
  margin-right: 5px;
}

.single-post-add-comment {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 0.5rem;
}

.single-post-add-comment input {
  border: none;
  font-family: inherit;
  font-size: 16px;
}

.single-post-add-comment button {
  color: rgb(4, 104, 255);
}

.single-post-add-comment button:disabled {
  opacity: 0.5;
  cursor: initial;
}

/* Home Sidebar */

.home-sidebar {
  justify-self: start;
}

.home-sidebar-header img {
  border-radius: 50%;
  object-fit: cover;
  width: 67px;
  height: 67px;
}

@media (max-width: 1064px) {
  .home-sidebar {
    display: none;
  }
  .home-grid {
    display: block;
  }
}
