.chat-feed {
}

.chat-feed-inbox {
  display: grid;
  place-items: center;
  height: 85vh;
  width: 100%;

  &__content {
    display: block;
    text-align: center;

    &--icon {
      width: 6rem;
      height: 6rem;
      margin: 0 auto;
      border-radius: 50%;
      border: 2px solid $clr-black;
      margin-bottom: 1rem;

      svg {
        font-size: 3.3rem;
        margin-right: 0.4rem;
      }
    }

    h1 {
      font-weight: 300;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}
