.chat-sidebar {
  border-right: 1px solid $clr-border-light;

  &__header {
    width: 100%;
    padding: 1.2rem;
    text-align: center;
    position: relative;
    border-bottom: 1px solid $clr-border-light;
    height: 4rem;

    &--button {
      position: absolute;
      font-size: 1.6rem;
      color: $clr-black;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__list {
    width: 100%;
    &--item {
      width: 100%;
      display: flex;
      padding: 0.7rem 1rem;
      align-items: center;
      transition: $transition;

      &-single {
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 0.7rem;
      }

      &-collage {
        position: relative;
        height: 3rem;
        width: 3rem;
        margin-right: 0.7rem;

        img {
          height: 1.5rem;
          width: 1.5rem;
          object-fit: cover;
          border-radius: 50%;
        }

        &-img1 {
          position: absolute;
          left: 0.1rem;
          top: 0.3rem;
        }

        &-img2 {
          position: absolute;
          right: 0.6rem;
          bottom: 0.5rem;
        }
      }

      &:hover {
        background-color: $clr-hover;
      }

      &-selected {
        background-color: #e6e6e6;
      }
    }
  }
}
