.home-sidebar {
  width: 20rem;
  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      border-radius: 50%;
      object-fit: cover;
      width: 67px;
      height: 67px;
    }
    p {
      color: $clr-grey-1;
    }
  }

  &__suggestions {
    width: 100%;
    h4 {
      margin-top: 1.2rem;
      color: #b9b9b9;
    }

    &-suggestion {
      display: flex;
      align-items: center;
      padding: 0 0.2rem;
      justify-content: space-between;
      margin: 0.5rem 0;

      &__info {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
          border-radius: 50%;
          object-fit: cover;
          width: 35px;
          height: 35px;
        }

        a {
          font-size: 14px;
        }

        p {
          color: $clr-grey-1;
          font-size: 12px;
        }
      }
      button {
        background: transparent;
        font-size: 0.9rem;
      }
    }
  }

  &__links {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    margin-top: 1.2rem;

    p {
      font-size: 12px;
      margin: 0.1rem 0;
      color: $clr-grey-1;
      cursor: pointer;
    }

    span {
      margin: 0 0.2rem;
    }
  }

  &__footer {
    text-transform: uppercase;
    margin-top: 0.5rem;
    font-size: 12px;
    color: $clr-grey-2;

    a {
      color: $clr-grey-2;
      transition: $transition;

      &:hover {
        color: $clr-grey-1;
      }
    }
  }
}
