.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: grid;
  place-items: center;
}

.modal {
  border-radius: 10px;
  min-width: $modal-regular-width;
  max-width: 95vw;
  transition: $transition;
  z-index: 100;
  background-color: $clr-white;
  flex-direction: column;
  animation: expandIn 0.2s;

  button,
  label {
    cursor: pointer;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #a8a8a8;
    padding: 1.2rem 1.5rem;
    text-transform: capitalize;

    svg {
      vertical-align: middle;
    }
  }

  &__user-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    border-bottom: 1px solid $clr-border-light;

    &--image {
      height: 60px;
      width: 60px;
      object-fit: cover;
      margin-bottom: 1.6rem;
    }
  }

  ul {
    width: 100%;

    li {
      width: 100%;
      padding: 0.7rem;
      text-align: center;

      // &:not(:last-child) {
      //   border-bottom: 1px solid $clr-border-light;
      // }
    }
    label {
      cursor: pointer;
    }

    input[type='file'] {
      width: 100%;
      height: 100%;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      cursor: pointer;
    }
  }

  &__users {
    padding: 0;
    max-height: 18rem;
    overflow-y: auto;
    min-height: 11rem;

    &--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.7rem;
      width: 100%;
      transition: $transition;
      cursor: pointer;

      img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        object-fit: cover;
      }

      p {
        font-size: 0.9rem;
        text-align: left;
      }

      &:hover {
        background-color: #f7f7f7;
      }

      &:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }

  &__add-user-group,
  &__new-message {
    &--title {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid #cecdcd;
      padding: 1rem 1.5rem;
      text-transform: capitalize;

      svg {
        vertical-align: middle;
      }

      &-next {
        color: $clr-primary-1;
        font-weight: bold;
        position: relative;

        &:disabled {
          opacity: 0.7;
          cursor: default;
        }
      }
    }
    &--to {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0.3rem 0.8rem;
      border-bottom: 1px solid $clr-border-light;

      p {
        width: min-content;
        margin-right: 1rem;
      }

      input {
        padding: 1rem;
        border: none;
        font-size: 1rem;
      }
    }
  }

  &__share-post {
    width: 38rem;

    &-btn {
      margin: 1rem;
      border-radius: 3px;
      height: 3rem;
      width: calc(100% - 2rem);

      &:disabled {
        opacity: 0.7;
        cursor: default;
      }
    }
  }

  &__unsend-message {
    text-align: center;
    padding: 1rem 1rem;
    width: $modal-regular-width;

    p {
      color: $clr-grey-3;
      margin-top: 1rem;
    }
  }
}
