.nav-notifications {
  position: absolute;
  top: 2.9rem;
  right: -3rem;
  z-index: 900;
  border-radius: $radius;
  background-color: $clr-white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px 0 4px rgba(0, 0, 0, 0.2);
  max-height: 24rem;
  overflow-y: auto;

  &::before {
    @include dropdownTriangle;
    left: 90%;
  }

  &__item {
    width: 33rem;
    padding: 0.8rem 0.3rem 0.8rem 0.9rem;
    border-bottom: 1px solid $clr-border-light;
    background-color: $clr-white;
    display: flex;
    justify-content: space-between;

    &--user-image {
      height: 33px;
      width: 33px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 0.8rem;
    }

    &--post-image {
      height: 45px;
      width: 45px;
      object-fit: cover;
      border-radius: 1px;
      margin-right: 0.5rem;
      cursor: pointer;
    }

    &--time {
      color: #8e8e8e;
      margin-left: 0.3rem;
      font-size: 0.9rem;
    }
  }
}
