.single-comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 4rem;
  padding: 0.5rem 0;
  position: relative;

  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.7rem;
    align-self: start;
  }

  &__details {
    display: flex;
    justify-content: stretch;
    flex-direction: column;

    &--user {
      display: block;
      justify-content: stretch;

      a {
        display: inline-block;
        margin-right: 0.5rem;
      }

      p {
        display: inline-block;
        word-wrap: break-word;
        word-break: break-word;
        text-align: left;
        padding-right: 0.4rem;
      }
    }

    &--info {
      display: flex;
      margin-top: 0.5rem;

      p,
      button {
        font-size: 0.8rem;
        font-weight: bold;
        color: $clr-grey-3;
        margin-right: 0.6rem;
        font-family: inherit;
      }
    }
  }

  &__like {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 0.85rem;
    cursor: pointer;
  }

  &__toggle {
    font-size: 0.8rem;
    font-weight: bold;
    color: $clr-grey-3;
    margin: 0.8rem 0 0.8rem 1.6rem;
    font-family: inherit;

    &--dash {
      height: 1px;
      background-color: $clr-grey-3;
      width: 1.8rem;
      display: inline-block;
      margin-right: 0.7rem;
      vertical-align: middle;
    }
  }

  &__replies {
    margin-left: 1.6rem;
  }
}
